.behind img{
    
    background-position: center;
    opacity: 0.5;
    width: 100%;
    height: 40%;
}
.profileImage img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid white;
    background-size: cover;
}
.backgroundForImage{
    background-image: url(defaultPhoto.jpg);
    border-radius: 25px;

}
hr{
    background: linear-gradient(to left bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.4),rgba(255,255,255,0.1));
    height: 20px;
    border-radius: 25px;
}
.backgroundForImage.profileImage img{
    opacity: 1;
}
body{
    background: linear-gradient(to right top, #6666ff,#aaaaff);
    border-radius: 25%;
}
.tableStyling{
    background-color: cyan;
    border-radius: 25px;
}
.tableStyling td{
    background-color: white;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 25px;

}
.tableStyling table{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}