body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.profile img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile p {
  text-align: center;
  font-size: 50px;
}
table {
  width: 100%;
  margin: auto;
}
.nameBackground p {
  color: white;
  border-radius: 25px;
}

.textEffect {
  width: 400px;
  height: 200px;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  padding-left: 100px;
  padding-top: 50px;
  text-shadow: black;
  font-size: 35px;
  margin: auto;
  margin-bottom: 2.5%;
}
.textEffect a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  background: black;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
}
.textEffect a:hover {
  background: white;
  color: black;
  border: 2px solid black;
}
.inout a,
abbr {
  color: white;
  text-decoration: none;
}
.credit {
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
}
