@import url("variables.css");

body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  margin: var(--horizontal-spacing);
}

/* About */
table {
  width: 100%;
  margin: auto;
}

.profile img {
  border-radius: 50%;
  width: var(--profile-photo-width);
  height: var(--profile-photo-height);
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--shadow-md);
}

.profile p {
  text-align: center;
  font-size: var(--font-size-md);
}

.nameBackground p {
  color: var(--white);
}

/* Cards */

.collections {
  gap: var(--spacing-sm);
}

/* Redirection Cards */
.textEffect {
  max-width: 400px;
  background: var(--card-background);
  box-shadow: var(--shadow-md);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: var(--black);
  font-size: var(--font-size-md);
  padding: var(--spacing-md);
  margin: auto;
  margin-bottom: 2.5%;
  overflow: hidden;
}

.textEffect p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-md);
}

.textEffect p i {
  margin-right: var(--spacing-xs);
}

.textEffect a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-size-md);
  background: var(--black);
  padding: 10px 16px 10px 16px;
  border-radius: 50px;
}

.textEffect a:hover {
  background: var(--white);
  color: var(--black);
  box-shadow: var(--shadow-md);
}

.inout a,
abbr {
  color: var(--white);
  text-decoration: none;
}

.credit {
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
}

/* Desktop */
@media (min-width: 601px) {
  /* About */

  .profile p {
    font-size: var(--font-size-lg);
  }

  .collections {
    display: grid;
    grid-template-columns: auto auto;
    overflow-x: scroll;
  }
}
