:root {
  --horizontal-spacing: 16px;
  --app-background: linear-gradient(to right, #434343 0%, black 100%);
  --card-background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  --shadow-md: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;

  --font-size-md: 16px;
}

@media (min-width: 600px) {
  :root {
    --font-size-md: 36px;
  }
}
